# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../../:\Users\erwin\Documents\FH Campus02\Bsc Business Data Science\1. Semester\Informatik & Data Science Basics\Aufgaben\Dash_test\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
